<div id="TimeLineContent">
  <div id="TimeLineID" class="TimeLineMain">
    <div class="TimeLinePath"></div>
    <article id="articles" class="articleTimeLine">

      <div *ngIf="!mobile">
        <section class="articleSection slide activeAfter6">
          <div id='EnvelopeAlign' class="CenterAlign">
            <div class="envelopeContent">
              <div class="envelope">
                <div id='topID' class="top">
                </div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div id='paperID' class="paper">
                </div>
              </div>
            </div>
          </div>
          <div class="timedate">
            <div class="tt-day">{{envelope.date}}</div>
            <div class="tt-month">{{envelope.month}}</div>
            <div class="year">{{envelope.year}}</div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedateafter"></div>
        </section>

        <section class="articleSection slide activeAfter5">
          <div>
            <div class="TabCenterAlign">
              <div class="office2Content office2ContentBG">
                <div class="office2ContentText">
                  Currently working as a software developer
                </div>
              </div>
            </div>
            <div class="timedate">
              <div class="tt-day">07</div>
              <div class="tt-month">Jan</div>
              <div class="year">2019</div>
            </div>
            <div class="tt-arrow-left"></div>
            <div class="tt-arrow-dot"></div>
            <div class="timedateafter"></div>
          </div>
        </section>

        <section class="articleSection slide activeAfter4">
          <div>
            <div class="TabCenterAlign">
              <div class="office1Content office1ContentBG">
                <div class="office1ContentText">
                  After Graduation started my software profession as a developer in Vernalis
                </div>
              </div>
            </div>
            <div class="timedate">
              <div class="tt-day">09</div>
              <div class="tt-month">May</div>
              <div class="year">2016</div>
            </div>
            <div class="tt-arrow-right"></div>
            <div class="tt-arrow-dot-right"></div>
            <div class="timedateafter"></div>
          </div>
        </section>

        <section class="articleSection slide activeAfter3">
          <div>
            <div class="TabCenterAlign">
              <div class="collegeContent collegeContentBG">
                <div class="collegeContentText">
                  Completed my Graduation in Computer Science Engineering
                </div>
              </div>
            </div>
            <div class="timedate">
              <div class="tt-day">25</div>
              <div class="tt-month">Apr</div>
              <div class="year">2016</div>
            </div>
            <div class="tt-arrow-left"></div>
            <div class="tt-arrow-dot"></div>
            <div class="timedateafter"></div>
          </div>
        </section>

        <section class="articleSection slide activeAfter2">
          <div class="TabCenterAlign">
            <div class="highSchoolContent2 highSchoolContentBG">
              <div class="highSchoolContentText">
                Completed my Higher Secondary Schooling in S.T. Marys A.I. Hr. Sec School
              </div>
            </div>
          </div>
          <div class="timedate">
            <div class="tt-day">25</div>
            <div class="tt-month">Mar</div>
            <div class="year">2012</div>
          </div>
          <div class="tt-arrow-right"></div>
          <div class="tt-arrow-dot-right"></div>
          <div class="timedateafter"></div>
        </section>

        <section class="articleSection slide activeAfter1">
          <div>
            <div class="TabCenterAlign">
              <div class="highSchoolContent1 highSchoolContentBG">
                <div class="highSchoolContentText">
                  Completed my Senior Secondary Schooling in S.T. Marys A.I. Hr. Sec School
                </div>
              </div>
            </div>
            <div class="timedate">
              <div class="tt-day">05</div>
              <div class="tt-month">Mar</div>
              <div class="year">2010</div>
            </div>
            <div class="tt-arrow-left"></div>
            <div class="tt-arrow-dot"></div>
            <div class="timedateafter"></div>
          </div>
        </section>

        <section class="articleSection slide activeSection">
          <div id='BirthAlign' class="CenterAlign">
            <div class="birthContent"></div>
          </div>
          <div class="timedate">
            <div class="tt-day">30</div>
            <div class="tt-month">May</div>
            <div class="year">1995</div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedateafter"></div>
        </section>
      </div>
      <div *ngIf="mobile">

        <div id="TimeLineTitle">
          <div class="TimeLineTop"></div>
          <span class="TimeLineText"> My TimeLine </span>
          <div class="TimeLineBottom"></div>
        </div>

        <section class="articleMobileSection">
          <div class="birthContent"></div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">30</div>
            <div class="tt-month">May</div>
            <div class="year">1995</div>
          </div>
        </section>

        <section class="articleMobileSection">
          <div class="highSchoolContent1 highSchoolContentBG">
            <div class="highSchoolContentText">
              Completed my Senior Secondary Schooling in S.T. Marys A.I. Hr. Sec School
            </div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">05</div>
            <div class="tt-month">May</div>
            <div class="year">2010</div>
          </div>
        </section>

        <section class="articleMobileSection">
          <div class="highSchoolContent1 highSchoolContentBG">
            <div class="highSchoolContentText">
              Completed my Higher Secondary Schooling in S.T. Marys A.I. Hr. Sec School
            </div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">25</div>
            <div class="tt-month">May</div>
            <div class="year">2012</div>
          </div>
        </section>

        <section class="articleMobileSection">
          <div class="collegeContent collegeContentBG">
            <div class="collegeContentText">
              Completed my Graduation in Computer Science Engineering
            </div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">25</div>
            <div class="tt-month">Apr</div>
            <div class="year">2016</div>
          </div>
        </section>

        <section class="articleMobileSection">
          <div class="office1Content office1ContentBGM">
            <div class="office1ContentText">
              After Graduation started my software profession as a developer in Vernalis
            </div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">09</div>
            <div class="tt-month">May</div>
            <div class="year">2016</div>
          </div>
        </section>

        <section class="articleMobileSection">
          <div class="office2Content office2ContentBGM">
            <div class="office2ContentText">
              Currently working as a software developer
            </div>
          </div>
          <div class="tt-arrow-side"></div>
          <div class="timedate">
            <div class="tt-day">07</div>
            <div class="tt-month">Jan</div>
            <div class="year">2019</div>
          </div>
        </section>

      </div>
    </article>

      <span id="snackbarDown">Use <i class="fa fa-arrow-down"></i> key for next slide</span>
      <span id="snackbarUp">Use <i class="fa fa-arrow-up"></i> key for previous slide</span>

  </div>
</div>
