<div id="AboutMeBackground">
  <div id="aboutMe">
    <div class="content">
      <div class="textContainer">
        <div class="letters">
          <span class="brief"> I'm a software developer,
            <br /> I can solve <span class='all'>all </span> <span class='some'>some </span> <span class='one'>one </span> <span class='ofyour'>of your </span>
            <span class='your'>your </span> <span class='problems'>problems,</span> <span class='ok'> ok ?</span> <br /></span>
          <span class="description">I've {{expYrs}} years’ of experience, offering expertise in core web design concepts and Windows application.
            Developed robust code for web applications. I'm Proficient in C, C++, C#, SQL and Angular. I prefer to keep learning, continue challenging myself, and do interesting things that matter.</span>
        </div>
      </div>
    </div>
  </div>
</div>
